@font-face {
   font-family: "Times Roman";
   src: url("fonts/Times Roman.woff") format("woff"), url("fonts/Times Roman.eot") format("embedded-opentype"), url("fonts/Times Roman.ttf") format("truetype"), url("fonts/Times Roman.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}